.img{
    max-width: 100%;
}
.add-wrapper {
    padding: 30px;
    width: 100%;
}
.add-header {
    border-bottom: 0.5px solid #ccc;
    padding: 16px 0px;

    .heading {
        font-weight: bold;
        color:#0039CB;
        letter-spacing: 0;
    }
}
@media (max-width: 767px){
    .profie .col-4,
.profie .col-5,
.form-group .col-6,
.form-group .col-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (max-width: 479px){
    .add-btn, .back-btn {
        width: 100px;
    }
}

.profie .col-5 {
    margin-top: 20px;
}
.detail{
    font-size: 14px;
}
#customHeader{
    min-height: 81px;
}

.frm-label
{
font-size: 16px;
color: #0039CB;
font-weight: 700;
}

.required
{
    color: #ff3e03;
}

.form-input {
    color:black;
    font-weight: 600;
    font-size: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(128, 123, 123);
    opacity: 1; /* Firefox */
    font-weight: 500;
}