<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/services/Disinfection.jpg" alt="Second slide">
        <div class="carousel-caption ">
            <h5>Sanitisation</h5>
            <p class="d-none  d-md-block">Offices, schools, nursing homes, churches, day care centres,
              gyms, cinema halls, shopping complex and other commercial settings are
              especially susceptible to germs and bacterial infestations, and not just during
              the cold and flu seasons.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/services/electrician.jpg" alt="Second slide">
        <div class="carousel-caption ">
            <h5>Electrician</h5>
            <p class="d-none  d-md-block">Doorstep repair and hassle free service for all kind of electrical issue for
              residential and commercial places by our premium and trained technicians.</p>
          </div>
      </div>
      <div class="carousel-item active">
        <img class="d-block w-100 blur" src="./assets/images/services/plumber-1.jpg" alt="First slide">
        <div class="carousel-caption  ">
            <h5>Plumber</h5>
            <p class="d-none  d-md-block" >Home plumbing services includes fixing blocks and leakages, work to do with taps
              or sinks, toilet and sanitary work, bathroom fittings or any other residential plumbing services
              associated with pipes, pumps or tanks.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/services/pop.jpg" alt="Second slide">
        <div class="carousel-caption ">
            <h5>Home Interior ( POP, False Ceiling)</h5>
            <p class="d-none  d-md-block">On call service of professional interior workers who are
              expert in providing the luxurious look by working with the client’s requirement and fulfilling
              their dream house.</p>
          </div>
      </div>
    
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/services/paint.jpg" alt="Second slide">
        <div class="carousel-caption ">
            <h5>Painting</h5>
            <p class="d-none  d-md-block">Professional painting service includes interior and exterior house painting, commercial
              painting, pressure washing, drywall repair &amp; more.</p>
          </div>
      </div>
   
   
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/services/AC Service.jpg" alt="Third slide">
        <div class="carousel-caption ">
            <h5>Home Appliance Repair and Servicing-</h5>
            <p class="d-none  d-md-block">On call service for repair, installation and uninstallation of
              appliance like AC, Refrigerator, Washing Machine etc.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 blur" src="./assets/images/steel.jpg" alt="Third slide">
        <div class="carousel-caption ">
            <h5>Aluminium, Steel and Glass Works</h5>
            <p class="d-none  d-md-block">We provide one stop solution for all your aluminium, steel
              and glass work needs..</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>