@import "../../../../assets/styles/variable.scss";
.reg-link{
  color:black;
  text-decoration: none !important;
  font-weight: bold;
  cursor: pointer;
}
.reg-link a{
  text-decoration: none;
  outline: none;
}
.social{
  height: 22px;

}
.header {

  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
   box-shadow: $secondaryBoxShadow;
  
   background: $primaryWhite;
   outline: none;
   
 .img{
     height: 55px;
     outline: none;
 }
}
.header-wrapper {
  padding: 16px 0px;
  width: 40%;
}

.carousel-inner img {
width: 50% !important;
height: 300px !important;
}
.nav-link{
  cursor: pointer;
 
  &:focus{
    outline: none !important;
  }
}


@media (min-width:1280px){
  .header{
    // height: 100px;
    // padding:12px
  }
}

.social1{
  height: 16px;
  width: 27px;
}