<div class="container cm mt-4 ">
  <div class="row mb-2">
   <div class="col-3" *ngFor="let data of cardsData">
    <div class="flip-card " >
        <div class="flip-card-inner card">
          <div class="flip-card-front">
            <img src="{{data.img}}" alt="Avatar"
            width="400"  height="200">
              <div class="card-body">
                  <h5 class="card-title">{{data.name}}</h5>
                  <p  class="card-text">{{data.description}}</p>
                  <!-- class="para-content -->
                  <!-- [class.showtable]="data.visible" -->
                  <!-- <div  class="d-flex showHide">
                  <button class="btn btn-read" type="button" (click)="data.visible = !data.visible">{{ data.visible ? 'Read less': '..Read more' }}</button>
                </div> -->
               
               
          </div>
          <div class="button1">
            <button class="register-btn"  (click)="goToRegister(data)">Book a Service</button></div>
          </div>
          <!-- <div class="flip-card-back">
            <h2 class="flip-font">{{data.name}}</h2>
            <p class="detail">{{data.detail}} </p>
         
          </div> -->
        </div>
      </div>
   </div>



   
  </div>
  
</div>
