
.cm .col-3{
  margin-bottom:20px;

}
.register-btn{
  color: #005b94;
  background-color: #fff;
  padding: 5px 7%;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none !important;
}


    img{
        max-width: 100%;
        max-height: 100%;

}
.card-body{
    background-color: white;
}
//flipcard
.flip-card {
  
     width: 100%;
     height: 370px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    background-color:white;
    height: 100%;

    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    // background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    padding: 10px;
    color: white;
    height: 100%;
    transform: rotateY(180deg);
  }
  @media (max-width: 1199px){
.flip-card{
  height: 420px;
}
  }

  @media (max-width: 991px){

    .col-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
    }
    
    .flip-card[_ngcontent-xkg-c4] {
    height: 350px;
    }
    }


    
    @media (max-width: 767px){
    img{
      width: 100%;
    }
    .col-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    }
    
    .flip-card[_ngcontent-xkg-c4] {
    height: 320px;
    }
    img[_ngcontent-xkg-c4] {
    width: 100%;
    }
    }

    .card-title {
      margin-bottom: 1.99rem;
  }


