<div class="container mt-4">
  <div class="row">
    
   <div class="col-3">
    <div class="flip-card ">
        <div class="flip-card-inner card">
          <div class="flip-card-front">
            <img src="./assets/images/business-close-up-energy-equipment-191648.jpg" alt="Avatar"
            width="400"  height="200">
              <div class="card-body">
                  <h5 class="card-title">Plumbing</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                  </p>
                </div>
          </div>
          <div class="flip-card-back">
            <h2>Plumbing</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
            <button class="register-btn">Go to service</button>
          </div>
        </div>
      </div>
   </div>
   <div class="col-3">
    <div class="flip-card ">
        <div class="flip-card-inner card">
          <div class="flip-card-front">
            <img src="./assets/images/silver-microwave-oven-on-brown-wooden-kitchen-cabinet-3773573.jpg" alt="Avatar"
            width="400"  height="200">
              <div class="card-body">
                  <h5 class="card-title">Home Interior</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                  </p>
                </div>
          </div>
          <div class="flip-card-back">
            <h2>Home Interior</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
            <button class="register-btn">Go to service</button>
          </div>
        </div>
      </div>
   </div>
   <div class="col-3">
    <div class="flip-card ">
        <div class="flip-card-inner card">
          <div class="flip-card-front">
            <img src="./assets/images/electrician.jpg" alt="Avatar"
            width="400"  height="200">
              <div class="card-body">
                  <h5 class="card-title">Electrician</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                  </p>
                </div>
          </div>
          <div class="flip-card-back">
            <h2>Electrician</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
            <button class="register-btn">Go to service</button>
          </div>
        </div>
      </div>
   </div>
   <div class="col-3">
    <div class="flip-card ">
        <div class="flip-card-inner card">
          <div class="flip-card-front">
            <img src="./assets/images/man-planting-plant-169523.jpg" alt="Avatar"
            width="400"  height="200">
              <div class="card-body">
                  <h5 class="card-title">Plantation</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                  </p>
                </div>
          </div>
          <div class="flip-card-back">
            <h2>Plantation</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
            <button class="register-btn">Go to service</button>
          </div>
        </div>
      </div>
   </div>

   
  </div>
</div>
