<div class="container footer">
  <div class="row">
    <div class="col-4">
        <div class="d-flex justify-content-inherit">
      <img class="img" src="./assets/images/Capture1.PNG" alt="logo" />
    </div>
      <div>
       <div> Just Ask Estate Services Ltd</div>
        <div> Unit 4A/4B Wintersells Business Park</div>
      </div>
      <div class=""><a class="reg-link ">customercare@justAsk.in</a></div>
      <div class="reg-link">Call Us: 0203 746 8500</div>


    </div>
    <div class="col-5">
      <div>
        <h5 class="text-success">
          JustAsk Services
        </h5>
      </div>
      <div>
        <a href="#" class="link">Planting</a>
      </div>
      <div>
        <a href="#" class="link">Electrician</a>
      </div>
      <div>
        <a href="#" class="link">Disinfecftion/Sanitisation</a>
      </div>
      <div>
        <a href="#" class="link">Home Interior</a>
      </div>

      <div>
        <a href="#" class="link">Home Appliance Repair</a>
      </div>
      <div>
        <a href="#" class="link">Aluminium steel & Glass Work</a>
      </div>
    </div>
    <div class="col-3">
        <div>
          <h5 class="text-success">
            Useful Links
          </h5>
        </div>
      </div>

      
  
</div>
<hr>
<div class="mt-2 d-flex">&copy; Copyright © 2020, JUSTASK</div> 
