<div class="container footer">
  <div class="row">
    <div class="col-4">
      <div class="d-flex justify-content-inherit">
        <img class="img" src="./assets/images/logojust.PNG" alt="logo" />
      </div>
      <div>
        <div>Just Ask Services, C/O Jaggi Ji , </div>
        <div> Near Rajiv Gandhi School,</div>
        <div> Belbanwa, Motihari.</div>
      </div>
      <div class=""><a class="reg-link">book@justaskservices.co.in</a></div>
      <div class="reg-link">Call Us:  +91709 136 5555</div>
      <div class="mt-2">
        <a href="https://www.facebook.com/Justask-Services-110694877315035/" target="_blank"
          ><span class="mr-2">
            <img
              class="social" 
              src="./assets/images/facebook.svg"
              alt="" /></span
        ></a>
        <!-- <a href=""
          ><span class="mr-2"
            ><img
              class="social"
              src="./assets/images/instagram.svg"
              alt="" /></spanheader
        ></a> -->
        <a href="https://api.whatsapp.com/send?phone=+917091365555" target="_blank">
          <span class="mr-2">
            <img
              class="social"
              src="./assets/images/whatsapp.svg"
              alt="" /></span
        ></a>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h5 class="heading">
          JustAsk Services
        </h5>
      </div>
      <div>
        <a  class="link">Disinfecftion/Sanitisation</a>
      </div>
      <div>
        <a   class="link">Plumbing</a>
      </div>
      <div>
        <a   class="link">Electrician</a>
      </div>
      <div>
        <a    class="link">Painting</a>
      </div>
      <div>
        <a   class="link">Home Interior</a>
      </div>
     
  

      <div>
        <a    class="link">Home Appliance Repair</a>
      </div>
      <div>
        <a   class="link">Aluminium steel & Glass Work</a>
      </div>
    </div>
    <div class="col-4">
      <div class="timings">
        <h5 class="heading">
          Timings
        </h5>
        <p>
        <span class="font-weight-bolder mr-2">Monday to Saturday</span>
        <span class="time"> 8:00AM to 6:00PM</span></p>
        <p>        <span class="font-weight-bolder mr-2">Sunday</span
        ><span> 10:00AM to 7:00PM</span></p>

      </div>
    </div>
  </div>
  <hr />
  <div class="mt-2 d-flex">&copy; Copyright © 2020, JUSTASK</div>
</div>
