<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="img" src="./assets/images/logo.png" alt="logo">
        </div>
        <div class="col-4">
            <div>
                <h5 class="text-success">
            Services

                </h5>
            </div>
            <div>
               <a href="#"  class="link">Planting</a>
             </div>
            <div>
               <a href="#"  class="link">Electrician</a>
             </div>
            <div>
               <a href="#"  class="link">Disinfecftion/Sanitisation</a>
             </div>
            <div>
               <a href="#"  class="link">Home Interior</a>
             </div>
          
            <div>
               <a href="#"  class="link">Home Appliance Repair</a>
             </div>
            <div>
               <a href="#"  class="link">Aluminium steel & Glass Work</a>
             </div>
          
       

    </div>
     <div class="col-2 text-success">
            <div>About us</div>
            <div>Services</div>
           
        </div>
      
     <div class="col-3 text-success">
        <div class=" ">
            <div>Register</div>
            <div>Contact us</div>
            <a class="reg-link">customercare@justAsk.in</a>
        </div>
        
</div>

<p class="mt-2">&copy; Copyright © 2020, JUSTASK












<!-- 

    <div class="container-fluid pl-0 bgfooter">
        <div class="footer-container container pl-0">
            <div class="row text-left">
                <div class="col-md-2 col-sm-12">
                    <ul class="footer__cols pl-0">
                        <li class="footer__headings">JustAsk</li>
                        <li class="footer__list">
                            <a class="footer__list-link" href=""> About us</a>
                        </li>
                        <li class="footer__list">
                            <a class="footer__list-link" href=""> Services</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 text-left footer__cols col-sm-12">
                    <div class="footer__contact">
                        <div class="footer__contact-register">
                            <a href="">Register Here</a>

                        </div>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__contact-register">
                            <a href="">Contact Us</a>

                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer__copyright">
                    <p class="footer__copyright-title">
                        Copyright © 2020, JustAsk | 
                    </p>
                </div>
            </div>
    </div>
    </div> -->


    <!-- <footer class="container">
        <a href="#">Contact US</a> 
        <div>
       <div>   DAV Centenary Public School</div>
       <div>  Paschim Enclave, Mianwali Nagar, New Delhi - 110 087</div>
        <div>   Tel.No. 011-25286231, 25275684 Fax: 25286230</div>
          <div> E-Mail: davpe87@gmail.com</div>
        </div>
        <hr>
        <p class="float-right"><a href="#">Up</a></p>
      
        <p>&copy; 2020  DAV Centenary Public School Paschim Enclave. 
      </footer> -->