@import "../../../../assets/styles/variable.scss";
img{
    height: 50px;
}


.link{
    text-decoration: none !important;
    cursor: pointer;
    color: black;
    &:hover{
        color:orange;
    }
   
}
.reg-link{
    color:black;
    text-decoration: none !important;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 767px){
    .time{
        font-size: 15px;
    }
    .footer .col-4,
 .footer .col-5,
 .footer .col-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
}