<div id="header">
<app-header (scrollOutput)="scrollTo($event)"></app-header>
</div>
<app-carosels></app-carosels>
<div class="about mt-2"  id="aboutus">
    <div class="w-100 text-center">
        <h2 class="heading">About Us</h2>
        <p >JustAsk Service is a dedicated at-home service provider. Our aim is to provide best solution at a single platform with the help of premium service professionals from different categories like electrician, plumber, disinfection, Home interior, Appliance Repair and Service.  </p>
       

</div>
</div>
<div class="w-100 my-3">
    <div class="w-100 text-center">
        <h2 class="heading">Services</h2>
        <p class=" d-none  d-md-block">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
 
    <div id="services">  
<app-cards></app-cards>

</div>
<div id="justAsk" class=" container  askservices mt-4 ">
    <div class="Us ">
        <h2 class="heading">Why JustAsk?</h2>
     
      <div class="">
        <div class="d-flex justify-content-center align-items-center" >  
          <h4 class="Tname">Experienced</h4>
          <p>When you book a service through the Justask Service Platform, they'll arrive with a wealth of experience and expertise. From home repair tasks to odd jobs and general labor, a professional serviceman will have the know-how and the can-do to get your place looking brand new. </p>
     
        </div><!-- /.col-lg-4 -->
       
     
      </div><!-- /.row -->
      <div class="">
        <div class="d-flex justify-content-center align-items-center" >  
          <h4 class="Tname">Skilled and Capable</h4>
          <p>When you book service through the Justask Service Platform , you want to know that they are experienced and capable enough to deal with the job at hand. That’s why we ensure every professional on the Justask Service Platform is rated and reviewed by their past customers. </p>
     
        </div><!-- /.col-lg-4 -->
       
     
      </div><!-- /.row -->
      <div class="">
        <div class="d-flex justify-content-center align-items-center" >  
          <h4 class="Tname">Reliable </h4>
          <p>  With Justask Service, you can be sure that they'll arrive at the time you request. We’ll connect you with the right people for the job so you can worry about the things that really need your attention—not fixing that light fixture.</p>
    
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
</div>  
</div>
<div class="w-100 bg-white py-3" id="footer">
<app-footer></app-footer>
</div>