<div id="header">
<app-header (scrollOutput)='scrollTo()'></app-header>
</div>
<app-carosels></app-carosels>
<div class="about mt-2"  id="aboutus">
    <div class="w-100 text-center">
        <h2>About Us</h2>
        <p>JustAsk Service is a dedicated at-home service provider. Our aim is to provide best solution at a single platform with the help of premium service professionals from different categories like electrician, plumber, disinfection, Home interior, Appliance Repair and Service.  </p>
        <h3>Experienced</h3>
        <p>   
    When you book a service through the Justask Service Platform, they'll arrive with a wealth of experience and expertise. From home repair tasks to odd jobs and general labor, a professional serviceman will have the know-how and the can-do to get your place looking brand new. In addition to bringing their experience, a Justask Serviceman will bring all the tools required to get the job done. All you need to do is tell us your address and a few details about the job into the booking request form, and we’ll connect you with an experienced serviceman who’s done plenty of jobs like yours.</p>
 <h3> Skilled and Capable</h3>
<p>     When you book service through the Justask Service Platform , you want to know that they are experienced and capable enough to deal with the job at hand. That’s why we ensure every professional on the Justask Service Platform is rated and reviewed by their past customers. The requirements of different home repair jobs are never quite the same, and so we ensure that we connect you with the best Serviceman professionals that are able to handle your particular job.</p>   

   <h3> Reliable </h3>
<p>     When you hire Justask services, you need to be sure that the team is going to turn up on time. Nothing is more frustrating than being given an 8 hour arrival window, forcing you to take a day off of work to sit around and wait. And nothing is more frustrating than a last minute cancellation.  When you book service through the Justask Service Platform , you can be sure that they'll arrive at the time you request. We’ll connect you with the right people for the job so you can worry about the things that really need your attention—not fixing that light fixture.</p>

</div>
</div>
<div class="w-100 my-3">
    <div class="w-100 text-center">
        <h2 >Services</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
 
    <div id="services">  
<app-cards></app-cards>
</div>
</div>
<div class="w-100 bg-white py-3" id="footer">
<app-footer></app-footer>
</div>