<div id="header">
<app-header (scrollOutput)='scrollTo()'></app-header>
</div>
<app-carosels></app-carosels>
<div class="about mt-2"  id="aboutus">
    <div class="w-100 text-center">
        <h2>About Us</h2>
        <p >JustAsk Service is a dedicated at-home service provider. Our aim is to provide best solution at a single platform with the help of premium service professionals from different categories like electrician, plumber, disinfection, Home interior, Appliance Repair and Service.  </p>
       

</div>
</div>
<div class="w-100 my-3">
    <div class="w-100 text-center">
        <h2 >Services</h2>
        <p class=" d-none  d-md-block">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
 
    <div id="services">  
<app-cards></app-cards>

</div>
<div id="justAsk">

</div>  
</div>
<div class="w-100 bg-white py-3" id="footer">
<app-footer></app-footer>
</div>