<div  id="customHeader">
<app-header  ></app-header>
</div>
<div class="add-wrapper ">
  <div class="add-header">
    <h2 class="heading">{{ MasterData?.name }}</h2>
  </div>
  <div class="profie my-4">
<div class="row">
    <div class="col-4">
    <img class="img" src="{{ MasterData?.img }}" alt="" width="400" height="200" />
</div>
<div class="col-5 detail">{{MasterData?.detail}}</div>
</div>  
  </div>
  <div class="form-wrapper">
    <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <h6>Name*</h6>
            <input type="text" name="name" [(ngModel)]="model.name" required #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" class="form-control" placeholder="Name is required"  />
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">First Name is required</div>
          </div>
    
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <h6>Mobile No*</h6>
            <input type="number"  name="mobile" required [(ngModel)]="model.mobile" max="10" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"  #mobile="ngModel" class="form-control" placeholder="Mobile number is required" />
            <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
              <div *ngIf="mobile.errors.required">Mobile Number is required</div>
          </div>
          </div>
        </div>
        <!-- <ejs-richtexteditor id='defaultRTE' #sample [placeholder]='description'></ejs-richtexteditor> -->
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-8">
            <h6>Add Address Details</h6>
            <textarea
              autosize
              class="form-control"
              cols="2"
              rows="3"
              placeholder="Enter address details "
              maxlength="500" required
            ></textarea>
            <!-- <ejs-richtexteditor id='defaultRTE' #sample [placeholder]='description'></ejs-richtexteditor> -->
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center button">
        <div class="back marr-10 marl-10">
          <button type="button" class="back-btn" >
            BACK
          </button>
        </div>
        <div class="add marr-10 marl-10">
          <button type="submit"  class="add-btn" >
            SAVE
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="w-100 bg-white py-3" id="footer">
  <app-footer></app-footer>
</div>
