
.add-wrapper {
    padding: 30px;
    width: 100%;
}
.add-header {
    border-bottom: 0.5px solid #ccc;
    padding: 16px 0px;

    .heading {
        font-weight: bold;
        color:#0039CB;
        letter-spacing: 0;
    }
}