.img{
    max-width: 100%;
}
.add-wrapper {
    padding: 30px;
    width: 100%;
}
.add-header {
    border-bottom: 0.5px solid #ccc;
    padding: 16px 0px;

    .heading {
        font-weight: bold;
        color:#0039CB;
        letter-spacing: 0;
    }
}
@media (max-width: 767px){
    .profie .col-4,
.profie .col-5,
.form-group .col-6,
.form-group .col-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (max-width: 479px){
    .add-btn, .back-btn {
        width: 100px;
    }
}

.profie .col-5 {
    margin-top: 20px;
}