/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif !important;
}
html,
body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  background: $primaryBiege !important;
  margin: 0 !important;
 
}
.btn-read {
  color: #343B41;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  background: none;
 
}
.btn-read:focus {
  outline: none;
  box-shadow: none;
}

.para-content {
  line-height: 18px;
  height: 90px;
  overflow: hidden;
}
.showtable {
  overflow: visible;
  height: auto;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-wrapper {
 
  border: 1px solid #ddd;
  width: 100%;
 
  user-select: none;
  padding: 24px;
}

.navbar-collapse {
  justify-content: space-around !important;
}
.add-btn{
  background-color: #0039CB;
  color: #FFFFFF;
  height: 48px;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
}
button:focus{
  outline: none;
}
.back-btn{
  background-color: #FF3E03;
  color: #FFFFFF;
  height: 48px;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
}
#toast-container > div {
  opacity:1;
}